body {
  background-image: url(imagens/Imagens_maria/Fundo.png);
}
.logo {
  height: 50vh;
  text-align: center;
}
.logo1 {
  margin-bottom: 80px;
}
button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  background-color: #d4620b;
  border: none;
  padding: 10px;
  width: 14%;
  border-radius: 16px;
  font-size: 24px;
  color: white;
}
button:hover {
  background-color: #a24d18;
}
a {
  text-decoration: none;
  color: white;
}
h3 {
  margin-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}
.google,
.facebook {
  padding: 8px;
  border-radius: 110%;
  text-align: center;
}
